[submodule "thirdparty/libf2c"]
	path = thirdparty/libf2c
	url = https://github.com/space-ast/libf2c.git
[submodule "thirdparty/matplotplusplus"]
	path = thirdparty/matplotplusplus
	url = https://github.com/space-ast/matplotplusplus.git
[submodule "thirdparty/cspice"]
	path = thirdparty/cspice
	url = https://github.com/space-ast/cspice.git
[submodule "data"]
	path = data
	url = https://github.com/space-ast/ast-data.git
