[submodule "data"]
	path = data
	url = https://github.com/space-ast/ast-data.git
[submodule "docs"]
	path = docs
	url = https://github.com/space-ast/ast-docs.git
[submodule "thirdparty/libf2c"]
	path = thirdparty/libf2c
	url = https://github.com/space-ast/libf2c.git
[submodule "thirdparty/matplotplusplus"]
	path = thirdparty/matplotplusplus
	url = https://github.com/space-ast/matplotplusplus.git
[submodule "thirdparty/cspice-windows"]
	path = thirdparty/cspice-windows
	url = https://github.com/space-ast/cspice
	branch = windows
[submodule "thirdparty/cspice-linux"]
	path = thirdparty/cspice-linux
	url = https://github.com/space-ast/cspice
	branch = linux
[submodule "thirdparty/QWT"]
	path = thirdparty/QWT
	url = https://github.com/space-ast/qwt
[submodule "thirdparty/OpenFrames"]
	path = thirdparty/OpenFrames
	url = https://github.com/space-ast/OpenFrames
[submodule "thirdparty/Qt-Advanced-Docking-System"]
	path = thirdparty/Qt-Advanced-Docking-System
	url = https://github.com/space-ast/Qt-Advanced-Docking-System
[submodule "thirdparty/Ipopt"]
	path = thirdparty/Ipopt
	url = https://github.com/space-ast/Ipopt
