name: 编译

on:
  pull_request:
  push:
  release:
    types: [published]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-2022, windows-2025, ubuntu-latest]
        arch: [x64, arm64]

    runs-on: ${{ matrix.os }}

    concurrency:
        group: ${{ github.ref }}-${{ github.base_ref }}-${{ github.head_ref }}-${{ matrix.os }}-${{ matrix.arch }}-Windows
        cancel-in-progress: true
    steps:
      - uses: actions/checkout@v2
        with:
          # WyriHaximus/github-action-get-previous-tag@master need it
          fetch-depth: 0
          submodules: true
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          # this is not supported, use dev branch instead
          # xmake-version: local#
          xmake-version: branch@dev

      # Cache xmake dependencies
      - name: 配置依赖缓存
        uses: actions/cache@v3
        with:
          path: xmake-cache
          key: ${{ matrix.os }}-${{ matrix.arch }}-v4

      - name: 设置xmake相关目录
        run: |
          xmake g --pkg_cachedir=$(pwd)/xmake-cache/cache
          xmake g --pkg_installdir=$(pwd)/xmake-cache/packages
      
      - name: 配置opengl环境
        if: runner.os != 'Windows'
        uses: awalsh128/cache-apt-pkgs-action@v1.6.0
        with:
          packages: libgl1-mesa-dev libglu1-mesa-dev
          version: 2

      - name: 配置项目
        run: |
          xmake f -cy --with_test=y -m release
          xmake show

      - name: 编译项目
        run: |
          xmake

          
