name: 测试覆盖率

on: [push, pull_request]

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # WyriHaximus/github-action-get-previous-tag@master need it
          fetch-depth: 0
          submodules: true      
      
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          # this is not supported, use dev branch instead
          # xmake-version: local#
          xmake-version: branch@dev

      - name: 安装依赖
        run: |
          sudo apt-get update
          sudo apt-get install -y lcov

      # Cache xmake dependencies
      - name: 配置依赖缓存
        uses: actions/cache@v3
        with:
          path: xmake-cache
          key: ${{ matrix.os }}-${{ matrix.arch }}-v4


      - name: 设置xmake相关目录
        run: |
          xmake g --pkg_cachedir=$(pwd)/xmake-cache/cache
          xmake g --pkg_installdir=$(pwd)/xmake-cache/packages

      - name: 配置opengl环境
        if: runner.os != 'Windows'
        uses: awalsh128/cache-apt-pkgs-action@v1.6.0
        with:
          packages: libgl1-mesa-dev libglu1-mesa-dev
          version: 2          

      - name: 配置项目
        run: |
          xmake f -cy --with_test=y -m coverage
          xmake show

      - name: 编译项目
        run: |
          xmake
      
      - name: 执行测试并收集覆盖率信息
        run: |
          lcov --directory . --zerocounters
          xmake cpdata
          xmake test
          lcov --directory . --capture --include */src/* --output-file coverage.info 
      
      - name: 上传覆盖率到Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: space-ast/ast
