name: 测试覆盖率

on: [push, pull_request]

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # WyriHaximus/github-action-get-previous-tag@master need it
          fetch-depth: 0
          submodules: true      
      
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          # this is not supported, use dev branch instead
          # xmake-version: local#
          xmake-version: branch@dev

      - name: 安装依赖
        run: |
          sudo apt-get update
          sudo apt-get install -y lcov

      - name: 设置自定义缓存目录路径
        run: |
          xmake g --pkg_cachedir=$(pwd)/xmake-cache/cache
          xmake g --pkg_installdir=$(pwd)/xmake-cache/packages

      # Cache xmake dependencies
      - name: 恢复缓存
        uses: actions/cache@v3
        with:
          path: xmake-cache
          key: ${{ matrix.os }}-${{ matrix.arch }}
          

      - name: 编译测试
        run: |
          xmake f -cvy --with_test=y -m coverage
          xmake show
          xmake
      
      - name: 生成覆盖率报告
        run: |
          lcov --directory . --zerocounters
          xmake test
          lcov --directory . --capture --include */src/* --output-file coverage.info 
      
      - name: 上传到 Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: space-ast/ast
